body {
    font-family: '宋体';
    width: 400px;
    height: auto;
    background: #fcfcfc;
    margin: 0 auto;
}

.help_image {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-top: 8px;
    float: right;
    padding: 0px;
}

.user_container {
    display: inline-flex;
    margin-top: 20px;
    align-items: center;
}

.avatar {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    border-radius: 48px;
}

.nick_name {
    align-items: center;
    font-size: 16px;
    color: #999999;
    margin-left: 20px;
}

.main_content {
    margin: 10px 0 0 0;
}

ul.tabs {
    width: 390px;
    height: 50px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

ul.tabs li {
    float: left;
    width: 130px;

}

ul.tabs li a {
    position: relative;
    display: block;
    height: 30px;
    margin-top: 10px;
    padding: 10px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: yellowgreen;
    -webkit-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
    border: 0px solid #000000;
    -webkit-transition: padding 0.2s ease, margin 0.2s ease;
    -moz-transition: padding 0.2s ease, margin 0.2s ease;
    -o-transition: padding 0.2s ease, margin 0.2s ease;
    -ms-transition: padding 0.2s ease, margin 0.2s ease;
    transition: padding 0.2s ease, margin 0.2s ease;
}

.tabs li:first-child a {
    z-index: 1;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
}

.tabs li:nth-child(2) a {
    z-index: 2;
}

.tabs li:last-child a {
    z-index: 1;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
}

ul.tabs li a:hover {
    margin: 5px 0 0 0;
    padding: 10px 0 5px 0;
}

ul.tabs li a.active {
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    background: #ffffff;
    color: yellowgreen;
    /*color: #ff6831;*/
    z-index: 4;
    outline: none;
}

.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

#tabs_container {
    width: 390px;
    height: 440px;
    margin: 0 auto;
    overflow-y: hidden;
    background: #ffffff;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tabs_content {
    overflow-y: auto;
    max-height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 10px;
    line-height: 26px;
    font-size: 18px;
    margin: 0;
}

#one {

}

#two {

}

#three {

}
